*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Karla", sans-serif;
    line-height: auto;
    
}

nav{
    height: 60px;
    display: flex;
    background-color: rgb(210, 230, 248);
    justify-content: center;
   
}

#logonav{

    width: 60px;
    height: 60px;
  text-align: left;
}
ul {
    display: flex;
align-items: flex-end;
text-align: center;

}

li{
    width: 300px;
    list-style-type: none;
 }

 li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
 }

 h1{
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
 }

div{

    text-align: center;
}

 #imageacc{
    width: 700px;
    height: 500px;
 }

 #icone{
    width: 40px;
    height: 40px;
 }

#bureau{
    max-width: 100%;
	height: auto;
}

h2{

    text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

#fleurs{
padding-right:200px ;
padding-left:200px ;
}

#chat{
display: flex;
padding-top: 70px;
}

.alignement{
   
 align-items: baseline;
 width: 50%;
padding: 20px;
margin-right: 20px;
margin-left: 20px;
background-color: rgba(211, 236, 245, 0.692);
border-radius: 20px;
box-shadow: 1px 1px 5px 1px rgb(162, 192, 218);
}

#poire{
    padding-top: 100px;
    width: 100%;
    height: 350px;
}

#cote{
text-align: left;
padding-left: 100px;
padding-bottom: 20px;

}

#sopalin{
 margin-bottom:100px ;
}
.footer{
    display: flex;
    width: 100%;
    height: 200px;
    text-align: left;
    padding-left: 100px;
    background-color:rgb(210, 230, 248);
    flex-direction: column;
 padding-top: 40px;
   
}

#chocolat{
   
    text-align: left;
    padding-bottom: 15px;

}

list-style-type: none;
text-decoration: none;
